.divMadre{
    display: flex;
    flex-direction: row;
    padding: 10px 25px 10px 20px;
}

.divMadre span{
    width: 300px;
}

.divMadre input{
    width: 250px;
    height: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

.divMadre input:focus{
    border: 3px solid black;
    background-color: gainsboro;
}

/* -------------------------------- */
.divMadre a{
    margin: 0px 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.divMadre a:hover{
    background-color: rgb(165, 165, 165);
}

