html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.MainContainer {
  position: fixed;
  transition: margin-left 0.5s;
  width: 85%;
  height: 90%;
  top: 10%;
  left: 15%;
  padding: 20px;
  overflow-x: hidden;
  /* margin: 10% 0 0 15%; */
}

.PublicMainContainer {
  position: fixed;
  transition: margin-left 0.5s;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
  /* padding: 20px; */
  overflow-x: hidden;
  /* margin: 10% 0 0 15%; */
}
