.DataContacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.divContacto{
    background-color: white;
    padding: 10px 25px 25px 25px;
}
.divDatosPrincipal{
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}
.ServiciosPersonalizados{
    grid-row: 1/3;
}